/out
*.exe
*.la
/html
/latex
*.gcov
*.gcda
*.gcno
.DS_Store
.scannerwork
default.profraw
config.h
config.log
config.status
*.dSYM
*.log
*.trs
*.Po
*.o
*.a
autom4te.cache
*~
Makefile
.deps/
libtool
stamp-h1
*.lo
.libs/
*.user
/*~
/*.gz
x64
x32
Debug
Release
packages
.vs
src/ini.xcodeproj/project.xcworkspace/xcuserdata/
.idea
