/out
*.exe
*.la
/html
/latex
*.gcov
*.gcda
*.gcno
.DS_Store
.scannerwork
cppunit.xmL
config.h
config.log
config.status
*.log
*.trs
*.Po
*.o
*.a
autom4te.cache
*~
Makefile
config.h
*.log
.deps/
libtool
stamp-h1
config.status
*.la
*.lo
*.o
.libs/
*.user
/*~
/*.gz
x64
x32
Debug
Release
packages
